$color-brand-one: #202020;
$color-brand-two: #ffffff;
$color-brand-three: #302e2e;

:root {

  --color-brand-one: #{$color-brand-one};
  --color-brand-two: #{$color-brand-two};
  --color-brand-three: #{$color-brand-three};

}

.bg-color-brand-one {
  background-color: var(--color-brand-one);
}
.bg-color-brand-two {
  background-color: var(--color-brand-three);
}


.color-brand-one {
  color: var(--color-brand-one);
}
.color-brand-two {
  color: var(--color-brand-two);
}